body{
    background-color:rgb(44, 43, 43)
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("Images\pokemon-png-18183.png");

  /* Set a specific height */
  height: 35%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

h1{
    text-align: center;

}

p1{
    text-align: center;
}

